.messageTabStyle {
  margin: 10px;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  padding: 10px;
  background: linear-gradient(to bottom, rgb(15, 162, 247), #077394);
}

.board-background {
  background: linear-gradient(to top right, red, blue);
}
