.messageItemStyle {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #8dd2d9, #58c0c7);
  animation: turnOut 0.5s ease 0s 1 normal;
  box-shadow: 2px 2px 1px black;
  opacity: 1;
}

@keyframes turnOut {
  0% {
    height: 0;
    width: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
    height: auto;
    width: auto;
  }
}

.messageContentStyle {
  font-weight: bold;
  font-style: italic;
  padding: 15px;
}
.panel-body {
  padding: 0;
}
